<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="row">
        <ul class="tabs-container">
          <li 
            (click)="onTabClick('Monday')" 
            class="tab-link"
            [ngClass]="{selected: activeTab === 'Monday'}">Luni</li>
          <li 
            (click)="onTabClick('Tuesday')" 
            class="tab-link"
            [ngClass]="{selected: activeTab === 'Tuesday'}">Marti</li>
          <li 
            (click)="onTabClick('Wednesday')" 
            class="tab-link"
            [ngClass]="{selected: activeTab === 'Wednesday'}">Miercuri</li>
          <li 
            (click)="onTabClick('Thursday')" 
            class="tab-link"
            [ngClass]="{selected: activeTab === 'Thursday'}">Joi</li>
          <li 
            (click)="onTabClick('Friday')" 
            class="tab-link"
            [ngClass]="{selected: activeTab === 'Friday'}">Vineri</li>
          <li 
            (click)="onTabClick('Resume')" 
            class="tab-link"
            [ngClass]="{selected: activeTab === 'Resume'}">Rezumat</li>
  
        </ul>
      </div>
     

      <div class="content-container">
        <div class="row content-row">
          <div class="col-xs-12">
            <app-activity 
              *ngIf="activeTab !='Resume'"
              [selectedTab]="activeTab"
              (storedActivity)="onChosenActivity($event)"></app-activity>
            <app-resume *ngIf="activeTab ==='Resume'"></app-resume>
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <button 
          (click)="previousTab()" 
          class="btn btn-default"
          [disabled]="backDisabled">Inapoi</button>
        <button 
          (click)="nextTab()" 
          class="btn btn-default"
          [disabled]="nextDisabled">Inainte</button>
      </div>
    </div>
  </div>
</div>